h1 {
  color: green;
}
body {
  background-color: red;
}
.list-item {
  font-family: monospace;
}
#css-item {
  color: green;
}
#goal-list {
  border-style: solid;
  border-color: green;
  width: 30%;
}
#picture {
  width: 60%;
  float: right;
  border: solid;
  border-color: green;
}
